{% extends 'base.html.twig' %}

{% block body %}
    <nav class="navbar navbar-dark navbar-expand-md sticky-top bg-dark">
        <a class="navbar-brand" href="{{ path('portada') }}"><i class="fas fa-key"></i> PrestaKeys</a>
        {% set nombre = app.request.get('_route') %}
        <ul class="navbar-nav mr-auto">
            <li{% if nombre == 'portada' %} class="active"{% endif %}>
                <a class="nav-link" href="{{ path('portada') }}"><i class="fas fa-home"></i> Portada</a>
            </li>
            {% if is_granted('ROLE_GESTOR_PRESTAMOS') %}
            <li{% if nombre starts with 'llave' %} class="active"{% endif %}>
                <a class="nav-link" href="{{ path('llave_listar') }}"><i class="fas fa-key"></i> Llaves</a>
            </li>
            {% endif %}
            {% if is_granted('DEPENDENCIA_MOSTRAR_SECCION') %}
            <li{% if nombre starts with 'dependencia' %} class="active"{% endif %}>
                <a class="nav-link" href="{{ path('dependencia_listar') }}"><i class="fas fa-door-open"></i> Dependencias</a>
            </li>
            {% endif %}
            {% if is_granted('ROLE_SECRETARIO') %}
                <li{% if nombre starts with 'usuario' %} class="active"{% endif %}>
                <a class="nav-link" href="{{ path('usuario_listar') }}"><i class="fas fa-users"></i> Usuarios</a>
            </li>
            {% endif %}
        </ul>
        {% if app.user %}
            <span class="navbar-text">¡Hola <a href="{{ path('usuario_perfil') }}">{{ app.user.nombre }}</a>!</span>
            <a href="{{ path('usuario_salir') }}" class="ml-3 btn btn-primary"><i class="fas fa-power-off"></i> Salir</a>
        {% else %}
            <a href="{{ path('usuario_entrar') }}" class="btn btn-primary"><i class="fas fa-door-open"></i> Entrar</a>
        {% endif %}
    </nav>
    <div class="container">
        {% for mensaje in app.session.flashBag.get('success') %}
            <div class="alert alert-success alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% for mensaje in app.session.flashBag.get('error') %}
            <div class="alert alert-danger alert-dismissible fade show" role="alert">
                {{ mensaje }}
                <button type="button" class="close" data-dismiss="alert" aria-label="Cerrar">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
        {% endfor %}
        {% block content %}{% endblock %}
    </div>
{% endblock %}

