{% extends 'layout.html.twig' %}

{% block title %}
    Datos de la dependencia
{% endblock %}

{% block content %}
    <h1>
        {% if dependencia.id %}
            Datos de la dependencia
        {% else %}
            Nueva dependencia
        {% endif %}
    </h1>
    {{ form_start(formulario) }}
    {{ form_widget(formulario) }}
    <a href="{{ path('dependencia_listar') }}" class="btn btn-info"><i class="fa fa-arrow-left"></i> Volver al listado</a>
    {% if is_granted('DEPENDENCIA_MODIFICAR', dependencia) %}
        <button type="submit" class="btn btn-success"><i class="fa fa-check"></i> Guardar cambios</button>
    {% endif %}
    {% if dependencia.id and is_granted('DEPENDENCIA_ELIMINAR', dependencia) %}
        <a href="{{ path('dependencia_eliminar', {'id': dependencia.id}) }}" class="btn btn-danger"><i class="fa fa-trash"></i> Eliminar dependencia</a>
    {% endif %}
    {{ form_end(formulario) }}
{% endblock %}


