{% extends 'layout.html.twig' %}

{% block title %}
    Listado de dependencias
{% endblock %}

{% block content %}
    <h1>Listado de dependencias {% if is_granted('ROLE_SECRETARIO') %}<a href="{{ path('dependencia_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva dependencia</a>{% endif %}</h1>
    <table class="table table-bordered table-striped table-hover">
        <thead>
            <tr>
                <th>Descripcion</th>
                <th>Responsables</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
        {% for dependencia in dependencias %}
            <tr>
                <td>
                    {% if is_granted('DEPENDENCIA_ACCEDER', dependencia) %}
                        <a href="{{ path('dependencia_form', {'id': dependencia.id}) }}">{{ dependencia.descripcion }}</a>
                    {% else %}
                        {{ dependencia.descripcion }}
                    {% endif %}

                </td>
                <td>{{ dependencia.responsables|join(', ')|default('No tiene') }}</td>
                <td>
                    {% if is_granted('DEPENDENCIA_ACCEDER', dependencia) %}
                        <a href="{{ path('dependencia_llaves_listar', {'id': dependencia.id}) }}" class="btn btn-sm btn-info"><i class="fa fa-key"></i> Llaves</a>
                    {% endif %}
                </td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}


