{% extends 'layout.html.twig' %}

{% block title %}Departamentos - {{ parent() }}{% endblock %}

{% block content %}
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
            <li class="breadcrumb-item" aria-current="page"><a href="{{ path('principal') }}"><i class="fa fa-home"></i></a></li>
            <li class="breadcrumb-item active" aria-current="page">Departamentos</li>
        </ol>
    </nav>

    <h1>Listado de departamentos</h1>

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Nombre</th>
                <th>Jefatura de departamento</th>
                <th>Núm. llaves</th>
                <th>Prestadas</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for elemento in departamentos %}
                {% set departamento = elemento.departamento %}
                <tr>
                    <td>
                        {{ departamento.descripcion }}
                    </td>
                    <td>
                        {# departamento.jefatura ?: '---' #}
                        {{ departamento.jefatura | default('---') }}
                    </td>
                    <td>
                        {{ elemento.numero }}
                    </td>
                    <td>
                        {{ elemento.prestadas }}
                    </td>
                    <td>
                        <a href="{{ path('departamento_llaves', { 'id': departamento.id }) }}" class="btn btn-sm btn-info"> <i class="fa fa-key"></i> Mostrar llaves
                        </a>
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>
{% endblock %}