{% extends 'layout.html.twig' %}

{% block title %}
    Listado de llaves
{% endblock %}

{% block content %}
    <h1>Llaves</h1>
    <p>
        <a href="{{ path('llave_prestar') }}" class="btn btn-primary"><i class="fa fa-angle-double-up"></i> Prestar llave</a>
        {% if is_granted('ROLE_SECRETARIO') %}<a href="{{ path('llave_nueva') }}" class="btn btn-success"><i class="fa fa-plus"></i> Nueva llave</a>{% endif %}
    </p>

    {% if is_granted('ROLE_SECRETARIO') %}
    <div class="btn-group filtros">
        <a href="{{ path('llave_listar', {'filtro': 0}) }}" class="btn btn-{{ filtro == 0 ? "primary" : "info" }}">Prestadas</a>
        <a href="{{ path('llave_listar', {'filtro': 1}) }}" class="btn btn-{{ filtro == 1 ? "primary" : "info" }}">No prestadas</a>
        <a href="{{ path('llave_listar', {'filtro': 2}) }}" class="btn btn-{{ filtro == 2 ? "primary" : "info" }}">Todas</a>
    </div>
    {% endif %}

    <table class="table table-bordered table-hover table-striped">
        <thead>
            <tr>
                <th>Código</th>
                <th>Dependencia</th>
                <th>Descripción</th>
                <th>Prestada a</th>
                <th></th>
            </tr>
        </thead>
        <tbody>
            {% for llave in llaves %}
                <tr>
                    <td>
                        {% if is_granted('ROLE_SECRETARIO') %}
                            <a href="{{ path('llave_form', {'id': llave.id}) }}">{{ llave.codigo }}</a>
                        {% else %}
                            {{ llave.codigo }}
                        {% endif %}
                    </td>
                    <td>{{ llave.dependencia }}</td>
                    <td>{{ llave.descripcion }}</td>
                    <td>
                        {% if llave.usuario %}
                            {{ llave.usuario }}
                        {% endif %}
                    </td>
                    <td>
                        {% if llave.usuario %}
                            <a href="{{ path('llave_devolver', {'id': llave.id}) }}" class="btn btn-info btn-sm btn-block"><i class="fa fa-angle-double-down"></i> Devolver</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}
        </tbody>
    </table>

<a href="{{ path('llave_informe') }}" class="btn btn-info"><i class="fa fa-file-pdf"></i> Generar informe de llaves prestadas</a>
{% endblock %}
