{% extends 'layout.html.twig' %}
{% trans_default_domain 'login' %}

{% block content %}
    <h1>{{ 'banner.login'|trans }}</h1>

    {% if error %}
        <div class="alert alert-danger">
            {{ error.messageKey | trans({}, 'security') }}
        </div>
    {% endif %}
    <form action="{{ path('usuario_entrar') }}" method="post">
        <input type="text" name="_username" placeholder="{{ 'form.username'|trans }}" value="{{ ultimo_usuario }}"{% if not ultimo_usuario %} autofocus="autofocus"{% endif %}>
        <input type="password" name="_password" placeholder="{{ 'form.password'|trans }}"{% if ultimo_usuario %} autofocus="autofocus"{% endif %}>
        <button type="submit" class="btn btn-primary">{{ 'button.login'|trans }}</button>
    </form>
{% endblock %}
